<footer class="footer">
  <small>
    The <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/" %>
    by <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:english), locale:"en" %></li>
      <li><%= link_to t(:vietnamese), locale:"vi" %></li>
      <li><%= link_to t(:homepage), root_path %></li>
      <li><%= link_to t(:about), about_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
      <li><%= link_to t(:signup), signup_path %></li>
    </ul>
  </nav>
</footer>
